.addquiz_form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: 100vw; */
    height: 100vh;
    /* background-color: blue; */
    padding-top: 5%;
}

#quiz_details{
    display: flex;
    margin-top: 1.5rem;
}

#quiz_title{
    flex:2.5 1 0;
    margin-right:10rem
}

#quiz_course {
    flex: 1 1 0
}

.choice_detail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:5px
}

.choice_detail > *{
    margin: 5px;
}

.choice_text{
    flex: 1.5 1 0
}

.add__question__row{
    display: flex;
    flex-direction: row-reverse;
}


